// SmartPigs CSS Variables
$navbar-inverse-color     :          #292327;
$white                    :          #FFF;
$navbar-toggle-color      :          #DFF0D8;
$btn-primary-color        :          #42CA47;
$btn-primary-border-color :          #3ABD35;
$btn-primary-hover-color  :          #3DB132;
$btn-primary-disabled     :          #60AB59;
$sp-light-grey            :          #F2F2F2;