// use dialog polyfill styles
@import "libs/dialog-polyfill";

/* Uses a transparent header that draws on top of the layout's background */
.demo-layout-transparent {
  background: url('../images/material-bg-cover-transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if your background is light. */
  color: white;
}

#open-file {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
